@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
    font-family: 'Open Sans', sans-serif;
}

#scalol {
    border: none;
    margin: 0;
    box-shadow: 0 2px 5px #888888;
}

.thing {
    background-color: black;
    color: white !important;
    margin: 0;
    width: 100% !important;
}

.header {
    color: white !important;
    font-size: 30px;
}

#user {
    float: right;
}

#searcher {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    float: right !important;
    margin: 18px 3px 3px;
    background-color: transparent;
}

#login, #signup, #signupButton, #loginButton, #newPost, #modifyProfile, #chat, #postButton, #logout, #submitComment, #deleteButton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
}

#login, #signup, #newPost, #modifyProfile, #chat, #logout {
    margin: 10px 3px 3px;
    float: right !important;
}

#post {
    margin-top: 100px;
}

#wrapper {
    background-color: lightgray;
    margin-top: 15%;
    width: fit-content;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#password, #repeatPassword, #username, #email, #postTitle, #file, .newPassword, #newEmail, #newUsername, #imageUrl {
    margin: 10px;
    width: 500px;
}

#loginButton, #signupButton, #postButton, #submitComment, #deleteButton {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

#posts {
    margin-top: 100px;
}

#info {
    margin-left: 50%;
    margin-top: 80px;
    transform: translate(-50%, 0%);
    margin-bottom: 50px;
}

#cog, #chatIcon {
    height: 6px;
    width: 6px;
    padding: 0;
    margin: 0 5px 0 0 !important;
}

.post {
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translate(-50%, 0);
    border-bottom: 1px solid lightgray;
}

#loggedUsername {
    color: white;
    float: right;
}

.glyphicon {
    margin: 10px;
}

.btn {
    width: 155px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post img {
    width: 70%;
    left: 50%;
}

#next {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

#comment {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 800px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#commentBox {
    background-color: #EEEEEE;
    margin-top: 15%;
    width: 100%;
    height: 150px;
    border-top: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}

#commentInput, #userInputElems {
    position: relative;
    left: 50%;
    margin: 5px;
    transform: translate(-50%, 0);
    width: 70%;
    height: 60px;
    font-size: 20px;
}

.othercomment {
    border: 1px solid gray;
    width: 792px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#comments {
    margin-bottom: 300px;
}

#submitComment {
    margin-top: 5px !important;
}

.otherMessage, .userMessage {
    word-wrap: break-word;
    display: block;

    margin: 2px;
}

.otherMessage {
    color: #00695C;
}

.userMessage {
    color: #039BE5;
}

#chatContent {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    overflow-y: scroll;
}

#recipient {
    position: relative;
    left: 50%;
    top: 5%;
    width: 500px;
    text-align: center;
    transform: translate(-50%, 0%);
}

#userInput {
    height: 200px;
}

#userInput textarea {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100px;
    width: 500px;
    margin-top: 10px;
}

#sendMessage {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 200px;
    height: 30px;
    margin: 0;
}

#blockButton, #unblockButton {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.socketClosed {
    font-size: 15px;
    color: red;
}